@import "tailwindcss";
@plugin "daisyui";

/* Font OSWALD
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

Font Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"); */
body {
  font-family: "Inter", sans-serif;
}

h1,
li {
  font-family: "Oswald", sans-serif;
}

.special-text {
  font-family: "Kolker Brush", cursive;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 5s linear infinite;
}
